h1{
  text-align: center;
}
body{
  background: url(https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  color: blue;
  background-repeat: no-repeat;
  background-size: cover;
}
